<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>dashboard | Gatekeep</title>
	<!--  -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/setup.css">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/dashboard.css">
	<link rel="manifest" href="/assets/manifest.json">
</head>
<body>
	<dialog class="viewDialog">
		<div class="viewDialog-container">
			<fieldset class="viewDialog-container-person">
				<label>Last Name: <span class="viewDialog-container-lastName"><%= lastName %></span></label>
				<label>First Name: <span class="viewDialog-container-firstName"><%= firstName %></span></label>
				<label>Middle Name: <span class="viewDialog-container-middleName"><%= middleName %></span></label>
				<label>Age: <span class="viewDialog-container-age"><%= age %></span></label>
				<label>Sex: <span class="viewDialog-container-sex"><%= sex %></span></label>
			</fieldset>
			<fieldset class="viewDialog-container-school">
				<label>LRN: <span class="viewDialog-container-lrn"><%= lrn %></span></label>
				<label>Grade Level: <span class="viewDialog-container-gradeLevel"><%= gradeLevel %></span></label>
				<label>Section: <span class="viewDialog-container-section"><%= section %></span></label>
			</fieldset>
			<fieldset class="viewDialog-container-address">
				<label>Barangay: <span class="viewDialog-container-barangay"><%= barangay %></span></label>
				<label>City/Municipality: <span class="viewDialog-container-city"><%= city %></span></label>
				<label>Province: <span class="viewDialog-container-province"><%= province %></span></label>
				<label>Zip: <span class="viewDialog-container-zip"><%= zip %></span></label>
				<label>Street Name: <span class="viewDialog-container-street"><%= street %></span></label>
				<label>House Number: <span class="viewDialog-container-houseNo"><%= houseNo %></span></label>
			</fieldset>
			<fieldset class="viewDialog-container-account">
				<label>Phone Number: <span class="viewDialog-container-phoneNumber"><%= phoneNumber %></span></label>
				<label>Email: <span class="viewDialog-container-email"><%= email %></span></label>
				<label>Password: <span class="viewDialog-container-password">******</span></label>
			</fieldset>
			<fieldset class="viewDialog-container-buttons">
				<button class="viewDialog-container-buttons-cancel" type="button" onclick="parentElement.parentElement.parentElement.close()">Close</button>
			</fieldset>
		</div>
	</dialog>
	<%- include('./component/header') %>
	<%- include('./component/aside') %>
	<main class="main fill-viewport">
		<article class="info">
			<header>
				<h2>info</h2>
			</header>
			<dl class="info-content">
				<div id="name">
					<dt>Name:</dt>
					<dd><%= name %></dd>
				</div>

				<div id="grade-level">
					<dt>Level:</dt>
					<dd><%= gradeLevel %></dd>
				</div>

				<div id="section">
					<dt>Section:</dt>
					<dd><%= section %></dd>
				</div>

				<div id="lrn">
					<dt>LRN:</dt>
					<dd><%= lrn %></dd>
				</div>

				<div id="address">
					<dt>Address:</dt>
					<dd><%= address %></dd>
				</div>
			</dl>
		</article>

		<article class="qr">
			<h3>QR code</h3>
			<img src="/qr" aria-disabled="true">
		</article>

		<article class="logs">
			<h1>logs</h1>
			<div class="logs-container">
				<template class="logs-container-item_template">
					<div class="logs-container-item">
						<img class="logs-container-item-img" src="" aria-hidden="true">
						<div class="logs-container-item-text">
							<p class="logs-container-item-text-time"></p>
							<p class="logs-container-item-text-date"></p>
						</div>
					</div>
				</template>
			</div>
		</article>
	</main>

	<script src="/js/dashboard.js" defer></script>
	<script src="/js/header.js" defer></script>
</body>
</html>