<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>dashboard | Gatekeep</title>
	<!--  -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/setup.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
	<dialog class="viewDialog">
		<div class="viewDialog-container">
			<fieldset class="viewDialog-container-person">
				<label>Last Name: <span class="viewDialog-container-lastName"><%= lastName %></span></label>
				<label>First Name: <span class="viewDialog-container-firstName"><%= firstName %></span></label>
				<label>Middle Name: <span class="viewDialog-container-middleName"><%= middleName %></span></label>
				<label>Age: <span class="viewDialog-container-age"><%= age %></span></label>
				<label>Sex: <span class="viewDialog-container-sex"><%= sex %></span></label>
			</fieldset>
			<fieldset class="viewDialog-container-school">
				<label>LRN: <span class="viewDialog-container-lrn"><%= lrn %></span></label>
				<label>Grade Level: <span class="viewDialog-container-gradeLevel"><%= gradeLevel %></span></label>
				<label>Section: <span class="viewDialog-container-section"><%= section %></span></label>
			</fieldset>
			<fieldset class="viewDialog-container-address">
				<label>Barangay: <span class="viewDialog-container-barangay"><%= barangay %></span></label>
				<label>City/Municipality: <span class="viewDialog-container-city"><%= city %></span></label>
				<label>Province: <span class="viewDialog-container-province"><%= province %></span></label>
				<label>Zip: <span class="viewDialog-container-zip"><%= zip %></span></label>
				<label>Street Name: <span class="viewDialog-container-street"><%= street %></span></label>
				<label>House Number: <span class="viewDialog-container-houseNo"><%= houseNo %></span></label>
			</fieldset>
			<fieldset class="viewDialog-container-account">
				<label>Phone Number: <span class="viewDialog-container-phoneNumber"><%= phoneNumber %></span></label>
				<label>Email: <span class="viewDialog-container-email"><%= email %></span></label>
				<label>Password: <span class="viewDialog-container-password">******</span></label>
			</fieldset>
			<fieldset class="viewDialog-container-buttons">
				<button class="viewDialog-container-buttons-cancel" type="button" onclick="parentElement.parentElement.parentElement.close()">Close</button>
			</fieldset>
		</div>
	</dialog>
	<header class="header">
		<a class="header-logo" href="/"><img src="/images/logo.webp" alt="website logo"></a>
		<nav class="header-nav _desktopOnly">
			<ul>
				<li><a href="/About">About</a></li>
				<li><a href="/Help">Help</a></li>
			</ul>
		</nav>
		<ul class="header-buttons">
			<li><button class="_desktopOnly" aria-label="Accessibility"><i class="material-symbols-rounded" aria-hidden="true">accessibility_new</i></button></li>
			<li><button class="_mobileOnly" onclick="handleAside()" aria-label="Menu"><i class="material-symbols-rounded" aria-hidden="true">menu</i></button></li>
			<li><button class="_logout _desktopOnly" aria-label="Account options"><i class="material-symbols-rounded" aria-hidden="true">Account_Circle</i></button></li>
		</ul>
	</header>
	<div class="overlay" onclick="handleAside()"></div>
	<aside class="aside _mobileOnly" aria-hidden="true">
		<button class="aside-hide" onclick="handleAside()"><i class="material-symbols-rounded" aria-hidden="true">menu</i></button>
		<div class="aside-account">
			<span class="aside-account-name"><i class="material-symbols-rounded" aria-hidden="true">Account_Circle</i> <%= displayName %></span>
			<button class="aside-account-logout" onclick="logout()" tabindex="0"><i class="material-symbols-rounded" aria-hidden="true">logout</i> Logout</button>
		</div>
		<hr>
		<nav class="aside-nav">
			<ul>
				<li><a href="/">Home <i class="material-symbols-rounded" aria-hidden="true">Arrow_forward</i></a></li>
				<li><a href="/About">About <i class="material-symbols-rounded" aria-hidden="true">Arrow_forward</i></a></li>
				<li><a href="/Help">Help <i class="material-symbols-rounded" aria-hidden="true">Arrow_forward</i></a></li>
			</ul>
		</nav>
	</aside>
	<main class="main">
		<section class="logs">
			<header><h1>Logs</h1></header>
			<div class="logs-container">
				<template class="logs-item_template">
					<div class="logs-item">
						<p class="logs-item-title"><i class="material-symbols-rounded">Login</i> <span>IN</span></p>
						<p class="logs-item-desc"><span class="_name"><%= displayName %></span> <span class="_isIn">arrived</span> at <span class="_time">0:00am</span> • <span class="_date">jan 0</span></p>
					</div>
				</template>
			</div>
		</section>
		<section class="info">
			<header class="info-header">
				<h2>Info</h2>
				<div class="info-header-buttons">
					<div class="dropdown">
						<button class="info-header-buttons-dropdown dropdown-button" isDropdownOpen="false" onclick="handleDropdown(this)" aria-label="more options" aria-haspopup="menu" type="button"><i class="material-symbols-rounded" aria-hidden="true">more_vert</i></button>
						<div class="dropdown-contain">
							<menu>
								<li><button onclick="document.querySelector('.viewDialog').showModal()" aria-haspopup="dialog">View all info</button></li>
								<li><button onclick="event.preventDefault()">Request Edit</button></li>
							</menu>
						</div>
					</div>
					<button class="info-header-buttons-collapse _mobileOnly" onclick="collapseSection(document.querySelector('.info-contain'),this.childNodes[0])" aria-label="hide or show Section"><i class="material-symbols-rounded " aria-hidden="true">keyboard_arrow_up</i></button>
				</div>
			</header>
			<div class="info-contain">
				<fieldset>
					<legend>Name</legend>
					<label class="info-contain-item-label"><span class="info-contain-item-span"><%= name %></span></label>
				</fieldset>
				<fieldset class="info-contain-item_school">
					<legend>School info</legend>
					<label class="info-contain-item-label">Grade Level:<span class="info-contain-item-span"><%= gradeLevel %></span></label>
					<label class="info-contain-item-label">Section:<span class="info-contain-item-span"><%= section %></span></label>
					<label class="info-contain-item-label">LRN:<span class="info-contain-item-span"><%= lrn %></span></label>
				</fieldset>
				<fieldset>
					<legend>Address</legend>
					<label class="info-contain-item-label"><span class="info-contain-item-span"><%= address %></span></label>
				</fieldset>
			</div>
		</section>
		<section class="qr">
			<header class="qr-header">
				<h3>QR code</h3>
				<div class="qr-header-buttons">
					<div class="dropdown">
						<button class="info-header-buttons-dropdown dropdown-button" isDropdownOpen="false" onclick="handleDropdown(this)" aria-label="more options" aria-haspopup="menu" type="button"><i class="material-symbols-rounded" aria-hidden="true">more_vert</i></button>
						<div class="dropdown-contain">
							<menu>
								<li><button onclick="window.location.href = '/print'">Print QR code</button></li>
							</menu>
						</div>
					</div>
				</div>
			</header>
			<div class="qr-contain"><img src="" alt="" class="qr-contain-img"></div>
		</section>
	</main>

	<script src="../js/dashboard.js" defer></script>
</body>
</html>