<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>dashboard | Gatekeep</title>
	<!--  -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/setup.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
	<header class="header">
		<a class="header-logo" href="/"><img src="/images/logo.webp" alt="website logo"></a>
		<nav class="header-nav">
			<ul>
				<li><a href="/About">About</a></li>
				<li><a href="/Help">Help</a></li>
			</ul>
		</nav>
		<ul class="header-buttons">
			<li><button class="" aria-label="Accessibility"><i class="material-symbols-rounded" aria-hidden="true">accessibility_new</i></button></li>
			<li><button class="_mobileOnly" aria-label="Menu"><i class="material-symbols-rounded" aria-hidden="true">menu</i></button></li>
			<li><button class="_logout" aria-label="Account options"><i class="material-symbols-rounded" aria-hidden="true">Account_Circle</i></button></li>
		</ul>
	</header>
	<main class="main">
		<article class="logs">
			<header><h1>Logs</h1></header>
			<div class="logs-container">
				<template class="logs-item_template">
					<div class="logs-item">
						<p class="logs-item-title"><i class="material-symbols-rounded">Login</i> <span>IN</span></p>
						<p class="logs-item-desc"><span class="_name"><%= displayName %></span> <span class="_isIn">arrived</span> at <span class="_time">0:00am</span> • <span class="_date">jan 0</span></p>
					</div>
				</template>
			</div>
		</article>
		<article class="info">
			<header class="info-header">
				<h2>Info</h2>
				<div class="info-header-buttons">
					<div class="dropdown">
						<button class="info-header-buttons-dropdown dropdown-button" isDropdownOpen="false" onclick="handleDropdown(this)" aria-label="more options" aria-haspopup="menu" type="button"><i class="material-symbols-rounded" aria-hidden="true">more_vert</i></button>
						<div class="dropdown-contain">
							<menu>
								<li><button onclick="event.preventDefault()">do stuff</button></li>
								<li><button onclick="event.preventDefault()">do stuff</button></li>
							</menu>
						</div>
					</div>
					<button class="_mobileOnly" aria-label="hide or show Section"><i class="material-symbols-rounded" aria-hidden="true">keyboard_arrow_down</i></button>
				</div>
			</header>
			<div class="info-contain">
				<fieldset>
					<legend>Name</legend>
					<label class="info-contain-item-label"><span class="info-contain-item-span"><%= name %></span></label>
				</fieldset>
				<fieldset class="info-contain-item_school">
					<legend>School info</legend>
					<label class="info-contain-item-label">Grade Level:<span class="info-contain-item-span"><%= gradeLevel %></span></label>
					<label class="info-contain-item-label">Section:<span class="info-contain-item-span"><%= section %></span></label>
					<label class="info-contain-item-label">LRN:<span class="info-contain-item-span"><%= lrn %></span></label>
				</fieldset>
				<fieldset>
					<legend>Address</legend>
					<label class="info-contain-item-label"><span class="info-contain-item-span"><%= address %></span></label>
				</fieldset>
			</div>
		</article>
		<article class="qr">
			<header class="qr-header">
				<h3>QR code</h3>
				<div class="qr-header-buttons">
					<div class="dropdown">
						<button class="info-header-buttons-dropdown dropdown-button" isDropdownOpen="false" onclick="handleDropdown(this)" aria-label="more options" aria-haspopup="menu" type="button"><i class="material-symbols-rounded" aria-hidden="true">more_vert</i></button>
						<div class="dropdown-contain">
							<menu>
								<li><button onclick="event.preventDefault()">Print QR code</button></li>
							</menu>
						</div>
					</div>
				</div>
			</header>
			<div class="qr-contain"><img src="" alt="" class="qr-contain-img"></div>
		</article>
	</main>

	<script src="../js/dashboard.js" defer></script>
</body>
</html>